# dependencies
node_modules/
packages/*/node_modules/

# build outputs
dist/
build/
.vite/

# test / coverage
coverage/

# misc
.DS_Store
.env

# core build outputs
packages/core/dist/
packages/core/src/*.js
packages/core/src/*.d.ts
packages/core/src/*.map
